{{!< default}}
{{#post}}
<article class="post-detail-container {{post_class}}">
  <header class="post-header">
    <div class="post-cover-container">
      <img src="{{#if image}}{{image}}{{^}}/assets/images/default_cover.svg{{/if}}" alt="">
      <h1 class="post-title">{{title}}</h1>
    </div>
    <section class="post-meta">
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY年MM月DD日"}}</time> {{tags prefix=" 标签："}}
    </section>
  </header>
  <section class="post-content">
    {{content}}
  </section>
  <div class="post-copyright-desc">
    <p>版权声明：署名-非商业性使用-禁止演绎(CC BY-NC-ND)</p>
    <p>　许可证：<a target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">创意共享 4.0 许可证</a></p>
  </div>
  <footer class="post-footer">
    <section class="share">
      <h4>分享此博文</h4>
      {{! 百度分享}}
      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a></div>
      <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
      {{! 百度分享代码结束}}
    </section>
  </footer>
  <aside class="read-next">
    <div class="read-item">
      {{#prev_post}}
      <a href="{{url}}">
        <section class="post">
          <h2>上一篇：{{title}}</h2>
          <p>{{excerpt words="14"}}&hellip;</p>
        </section>
      </a>
      {{else}}
      <p>前面没有文章啦 :(</p>
      {{/prev_post}}
    </div>
    <div class="read-item">
      {{#next_post}}
      <a href="{{url}}">
        <section class="post">
          <h2>下一篇：{{title}}</h2>
          <p>{{excerpt words="14"}}&hellip;</p>
        </section>
      </a>
      {{else}}
      <p>后面没有文章啦 :(</p>
      {{/next_post}}
    </div>
  </aside>
</article>
{{/post}}
